{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block body %}
    <h1 class=" title-sortie align">Mon profil</h1>

        {{ include('participant/_form.html.twig') }}
    </div>


{% endblock %}
