{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h3 class="align-creation">Créer une nouvelle sortie</h3>
    {{ include('sortie/_form.html.twig') }}
{% endblock %}
